<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <h1 style="text-align: center">Edit <%= recipe.name %></h1>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row">
            <div style="width: 30%; margin: 25px auto;">
                <form action="/recipes/<%=recipe._id%>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name" value="<%= recipe.name %>" required>
                    </div>
                    <div class="form-group">
                        <label for="image">Image Url</label>
                        <input class="form-control" type="text" name="image" id="image" value="<%= recipe.image %>" required>
                    </div>
                    <div class="form-group">
                        <label for="cost">Cost</label>
                        <input class="form-control" type="number" name="cost" id="cost" value="<%= recipe.cost %>" step="0.01" min="0" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description"  rows="3"><%= recipe.description %></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Update!</button>
                    </div>
                </form>
                <a href="/recipes">Go Back</a>
            </div>
        </div>
    </div>
<% include ../partials/footer %>

